In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [0]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, roc_auc_score
from sklearn.feature_selection import VarianceThreshold, mutual_info_classif, mutual_info_regression

In [0]:
data=pd.read_csv('/content/Data-Files-for-Feature-Selection/santander-train.csv', nrows = 20000)

In [47]:
data.head()

   ID  var3  var15  ...  saldo_medio_var44_ult3          var38  TARGET
0   1     2     23  ...                     0.0   39205.170000       0
1   3     2     34  ...                     0.0   49278.030000       0
2   4     2     23  ...                     0.0   67333.770000       0
3   8     2     37  ...                     0.0   64007.970000       0
4  10     2     39  ...                     0.0  117310.979016       0

[5 rows x 371 columns]

In [48]:
X = data.drop(['ID', 'TARGET'], axis = 1)
y = data['TARGET']

X.shape, y.shape

((20000, 369), (20000,))

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0, stratify = y)

In [0]:
con=VarianceThreshold(threshold=0.01)
con.fit(X_train)
x_train_filter=con.transform(X_train)
x_test_filter=con.transform(X_test)

In [51]:
x_train_filter.shape, x_test_filter.shape

((16000, 244), (4000, 244))

In [0]:
mi=mutual_info_classif(x_train_filter,y_train)

In [53]:
len(mi)

244

In [0]:
from sklearn.feature_selection import SelectPercentile

In [0]:
sel=SelectPercentile(mutual_info_classif, percentile=10).fit_transform(x_train_filter,y_train)

In [0]:
def run_randomForest(X_train, X_test, y_train, y_test):
    clf = RandomFores_t

In [58]:
run_randomForest(x_train_filter,x_test_filter,y_train,y_test)

Accuracy on test set:
0.95225